
{% extends 'companybase.html' %}
{% block content %}
<style>
th,td{
    padding: 10px;
}
body{
    color: white;
}
</style>
<div style="margin: 50px;">
    <h2 style="margin: 10px;">Profile</h2><hr>
    <form method="POST">
        {% csrf_token %}
        <table>
            {% for d in data %}
            <tr>
                <td>Name</td>
                <td><input type="text" class="form-control" name="txtName" value="{{d.0}}" required pattern="[a-zA-Z ]+"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><textarea name="txtAddress" class="form-control" required>{{d.1}}</textarea></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" class="form-control" name="txtContact" value="{{d.2}}" required pattern="[6789][0-9]{9}"></td>
            </tr>
            <tr>
                <td>License</td>
                <td><input type="text" class="form-control" name="txtLicense" value="{{d.3}}" required ></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" class="form-control" readonly name="txtEmail" value="{{d.4}}" required></td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-warning" style="color: white;" value="Update"></td>
            </tr>
        </table>

    </form>
</div>
<script>
    var msg="{{msg}}";
    if(msg!="")
        alert(msg)
    </script>
{% endblock %}